.spinner {
  width: 80px;
  height: 80px;
  border: 20px solid black;
  border-top-color: #09d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20% auto;
  
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
